* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFE4D6;
  background-image: linear-gradient(to bottom right, #FFE4D6, #fdba9b, #FFE4D6);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.bgColorPrimary {
  background: linear-gradient(#f78bc8, #e6a1c8, #f78bc8);
}

.bgColorSecondary {
  background-color: #FFE4D6;
}

.fluid-bar {
  width: 100vw;
  max-height: 75px;
}
.logo-main {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.icon-rounded-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E784A0;
  color: black;
  border-radius: 50%;
}
.icon-rounded {
  padding: 20px;
  font-size: 1.5rem;
}
.icon-rounded:hover {
  background-color: black;
  color: #E784A0;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
}

.header-content-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.nav-bar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-family-primary{
  font-family: "Cabin Sketch", sans-serif;
}
.font-family-secondary{
  font-family: "Imperial Script", cursive;
}
.font-size-xs {
  font-size: 1rem;
}
.font-size-s {
  font-size: 1.5rem;
}
.font-size-m {
  font-size: 2rem;
}
.font-size-l {
  font-size: 2.5rem;
}
.font-size-xl {
  font-size: 3rem;
}

.option-nav {
  font-size: 2.7rem;
  padding: 10px;
}
.option-nav:hover {
  background-color: black;
  color: #E3BED3;
}

.selected-menu {
  text-decoration: underline;
  font-weight: bold;
  background-color: #E3BED3;
}
.selected-menu:hover {
  background-color: #E3BED3;
  color: black;
  cursor: default;
}

.hipervincle {
  text-decoration: none;
  color: black;
  /*
  height: 100%;
  width: 100%;
  */
}

.container-socials-networks {
  margin: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-content: center;
}

.img-rrss {
  width: 60px;
  height: 60px;
}
.img-rrss:hover {
  transform: scale(1.5);
}

.container-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.container-divisor-content {
  display: flex;
  margin: 30px;
  gap: 30px;
}

.container-final-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.justify-text {
  text-align: justify;
}

/* .navbar {
  animation-name: backInLeft;
  animation-duration: 1s;
} */

/* CLASES PERSONALIZADAS */
.img-home img {
  width: 300px;
  height: 300px;
  /* animation-iteration-count: infinite;
  animation-delay: 8s; */
}
.img-home:hover {
  transform: scale(1.1);
}
.btn-custom-animation:hover {
  transform: scale(1.3);
}